<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationsDZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EA3648F1CD8E26900043C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EA364A81CD8E26A00043C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EA364B31CD8E26A00043C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
